body {
    background-color: rgb(37, 37, 37);
}

main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
    gap: 10px;
}

.squarebox {
    width: 273px;
    height: 220px;
    background: #f3b125;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
}

.squarebox__red {
    width: 273px;
    height: 220px;
    background: #6A040F;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
}

.squarebox__container1 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.squarebox__container2 {
    display: flex;
    flex-flow: wrap-reverse;
    justify-content: flex-end;
    align-content: center;
    height: 240px;
    padding: 20px;
    gap: 20px;
}

.squarebox__container3 {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    height: 200px;
    padding: 20px;
    gap: 20px;
}

.squarebox__container4 {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    height: 180px;
    padding: 20px;
    gap: 20px;
    
}

.squarebox__container5 {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 180px;
    gap: 20px;
    padding: 20px;
}

.circle {
    border-radius: 50%;
    width: 50px;
    height: 50px; 
    background: #ffffff;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
}

.rectangle {
    width: 468px;
    height: 160px;
    border-radius: 8px;
    background: #f3b125;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.rectangle__content1 {
    display: flex;
    align-items: flex-end;
    gap: 20px; 
    padding: 10px;
    height: 140px;
}

.rectangle__content2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; 
    padding: 10px;
    height: 140px;
}

.rectangle__content3 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px; 
    padding: 10px;
    height: 140px;
}

.rectangle__content4 {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    padding: 10px;
    height: 140px;
}

.rectangle__content5 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px; 
    padding: 10px;
    height: 140px;
}

.rectangle__content6 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    padding: 10px;
    height: 140px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    border-radius: 4px;
    background: #ffffff;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000000;
}

.box__2 {
    height: 120px;
}

.box__3 {
    width: 156px;
}

.box__getlow {
    align-self: flex-end;
}